article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  line-height: 1.6; }

.wrapper {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto; }

body {
  background: #EDEBD7; }

h1 {
  font-family: 'Ubuntu', sans-serif;
  color: #96001C;
  font-size: 3.5rem; }

h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.9rem;
  color: #96001C; }

h3 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.7rem;
  color: #96001C; }

h4 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.4rem;
  color: #96001C;
  margin-bottom: 0px; }

h4 + ul {
  margin-top: 4px; }

p {
  line-height: 1.6; }

ul {
  padding-left: 15px; }

a,
a:active,
a:visited {
  color: #96001C;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-decoration: none; }
  a:hover, a:focus,
  a:active:hover,
  a:active:focus,
  a:visited:hover,
  a:visited:focus {
    text-decoration: underline; }

.italic {
  font-style: italic; }

.description {
  font-size: 1.8rem;
  font-family: 'Oxygen', sans-serif;
  margin-bottom: 30px; }

.buttonDiv {
  margin: 0 auto;
  display: block;
  width: 156px; }

.button {
  font-family: 'Ubuntu', sans-serif;
  background-color: #96001C;
  color: #EDEBD7;
  padding: 15px;
  text-align: center;
  font-size: 1.8rem;
  margin: 30px 0px;
  border-radius: 5px;
  border: 2px solid #96001C; }
  .button:hover, .button:focus {
    background-color: #EDEBD7;
    color: #96001C;
    -webkit-transition: 0.4s;
    transition: 0.4s; }

.basic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.8rem;
  height: 140px;
  font-family: 'Oxygen', sans-serif;
  padding: 10px 30px;
  border-bottom: 1px solid #E3B23C; }
  .basic p {
    min-width: 25%; }

.stats {
  font-size: 1.6rem;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 130px;
  font-family: 'Oxygen', sans-serif;
  padding: 10px 30px;
  border-bottom: 1px solid #E3B23C; }
  .stats p {
    width: 25%; }

.abilityScores {
  border-bottom: 1px solid #E3B23C; }

.primaryScores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 40px; }

.secondaryScores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  margin: 0 auto;
  font-family: 'Oxygen', sans-serif;
  font-size: 1.6rem;
  padding: 20px 0px; }

.score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .score p {
    font-family: 'Oxygen', sans-serif; }
  .score .abilityScore {
    font-size: 2rem;
    font-weight: bold; }
  .score .abilityMod {
    font-size: 1.6rem; }

.lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #E3B23C;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 30px;
  padding-top: 10px; }

.skillLists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%; }
  .skillLists ul {
    padding: 0px; }
  .skillLists li {
    font-family: 'Oxygen', sans-serif;
    font-size: 1.6rem;
    list-style: none;
    border: 1px solid #E3B23C;
    background: #F1F2EB;
    width: 70%;
    margin: 2.5px 0px;
    padding: 4px; }
  .skillLists .skill:hover,
  .skillLists .skill:focus {
    border: 2px solid #96001C; }
  .skillLists .proficient, .skillLists .savingThrow {
    border: 2px solid #96001C; }
  .skillLists .skills, .skillLists .savingThrows {
    display: block;
    width: 50%;
    margin: 0 auto; }

.proficiencies, .abilities, .inventory {
  width: 50%; }
  .proficiencies p, .abilities p, .inventory p {
    font-family: 'Oxygen', sans-serif;
    font-size: 1.6rem; }
  .proficiencies ul, .abilities ul, .inventory ul {
    font-family: 'Oxygen', sans-serif;
    font-size: 1.4rem; }

.proficiencies {
  padding-left: 50px; }

.character {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 1px solid #E3B23C;
  min-height: 220px; }
  .character .characterTrait {
    display: block;
    width: 23%; }
    .character .characterTrait h4 {
      text-align: center; }
  .character .characterTrait p {
    border: 2px solid #E3B23C;
    margin: 2px;
    width: 100%;
    height: 100%;
    display: block; }

.spellcasting {
  min-height: 300px; }

.spellTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: 'Oxygen', sans-serif;
  font-size: 1.4rem; }
  .spellTop p {
    min-width: 25%; }

.spellBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Oxygen', sans-serif;
  font-size: 1.4rem; }
  .spellBottom div {
    width: 33%; }

.form {
  width: 60%;
  display: block;
  margin: 20px auto;
  border: 2px solid #96001C;
  font-family: 'Oxygen', sans-serif;
  font-size: 1.4rem;
  padding-bottom: 30px; }
  .form p {
    padding-left: 30px;
    padding-right: 30px; }
  .form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 0px; }
    .form form p {
      padding-left: 0px; }
  .form label {
    margin-top: 15px;
    margin-bottom: 5px;
    display: block;
    width: 100%; }
  .form input[type=text] {
    border: none;
    border-bottom: 2px solid #E3B23C;
    width: 50%;
    background: #F1F2EB; }
  .form select {
    width: 50%;
    background: #F1F2EB;
    border: 1px solid #E3B23C; }
  .form .submit {
    width: 156px;
    margin: 0 auto; }
    .form .submit input[type=submit] {
      margin-top: 40px;
      font-family: 'Ubuntu', sans-serif;
      background-color: #96001C;
      color: #EDEBD7;
      padding: 15px;
      text-align: center;
      font-size: 1.8rem;
      border-radius: 5px;
      border: 2px solid #96001C; }
      .form .submit input[type=submit]:hover, .form .submit input[type=submit]:focus {
        background-color: #EDEBD7;
        color: #96001C;
        -webkit-transition: 0.4s;
        transition: 0.4s; }
      .form .submit input[type=submit].inactive {
        background-color: #EDEBD7;
        color: #96001C; }

.abilityScoreOption ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px; }

.abilityScoreOption li {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  font-size: 1.6rem;
  list-style: none;
  border: 1px solid #E3B23C;
  background: #F1F2EB;
  width: 80%;
  margin: 2.5px 0px;
  padding: 4px; }
  .abilityScoreOption li:hover, .abilityScoreOption li:focus {
    border: 2px solid #96001C; }

.abilityScoreOption .increase {
  border: 2px solid #96001C; }
